@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<EdwardShortener.Objects.UserUrlList>
@if (Model != null)
{
    
    <div>
        <table id="mytable" class="table table-hover" data-toggle="table">
            <thead>
                <tr>
                    <th><input id="allChecks" type="checkbox" /></th>
                    <th colspan="2">Long URL</th>
                    <th>Created</th>
                    <th>Short URL</th>
                    <th></th>
                    <th>Clicks</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var urlObject in @Model.urlLists)
                { 
                    <tr>
                        <td><input type="checkbox"></td>                        
                        <td colspan="2"><a href="@urlObject.longUrl">@urlObject.longUrl</a></td>
                        <td>@urlObject.created.ToShortDateString()</td>
                        <td><a href="/goTo/@urlObject.shortedUrl">@urlObject.shortedUrl</a></td>
                        <td><a href="/details/@urlObject.shortedUrl">Details</a></td>
                        <td><p class="text-center">@urlObject.clicks</p>
                            <input id="idHidden" type="hidden" value="@urlObject.id" /></td>
                        <td><span style="float: right; display: none;" class="glyphicon glyphicon-forward"></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


    <script type="text/javascript">

        var current = 0;

        $("#allChecks").change(function () {
            $("input:checkbox").prop('checked', $(this).prop("checked"));
        });

        $('#mytable').on('click', 'tbody tr', function (event) {
            $(this).addClass('active').siblings().removeClass('active');
            $('#mytable').find('.glyphicon').hide();
            $(this).find('.glyphicon').show();
            var id = $(this).find('#idHidden').val();            
            $.get("/tableDetails/" + id, function (data) {
                $("#shortedUrlDV").html(data);
                $("#shortedUrlDV").show();
                copyLink();
            });

        });

        function changClicksTime(time, elem) {

            $('.timeList').css('font-weight', '');
            $('.timeList').css('color', '');
            $(elem).css('font-weight', 'bold');
            $(elem).css('color', 'black');
            $.get("/table/" + time, function (data) {
                $("#tableUrlListDV").html(data);
            });
            $("#shortedUrlDV").hide();

        }

        function copyLink() {
            $('#copyLinkDv').tooltip({ title: "Press CTRL-C to copy", placement: "top", trigger: "focus" });
            $('#copyLinkDv').select();
            $('#copyLinkDv').focus();
            $("[data-toggle='tooltip']").tooltip('show');
        }

        function addCurrent ()
        {
           
            alert(current);
            current ++ ;
           
        }

        function subsCurrent ()
        {
            alert(current);
            current--;
        }
    </script>
}